@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bienvenida {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes imagendesplegable {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes rotar {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes rotarimagen {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}
