// Estilos para el footer

.pie-pagina {
  background-color: $primary-color;
    color: #fff;
    padding: 20px;
    text-align: center;
  
    .enlaces {
      a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .redes-sociales {
      margin-top: 10px;
  
      a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    p {
      margin-top: 20px;
    }
  }
  